{{> header }} {{> progress_bar }}

<section class="mb6">
{{> messages }}

  <form class="margin-0-auto w-90 w-60-ns w-80-m mw7" action="/about" method="post">
      {{>modal}}

    <ol class="pa0">
      <li class="f5 black-60 db mb2 tracked pt3 pb3"><span class='li mr2 w2'>&rarr;</span> What are some things you like? (including hobbies and interests)?
        <div class="tc">
          <button id ="arrowbutton" class='bn secondary-background--solid h2 w2 white br3' type="button" name="arrowbutton" class="arrowbutton">
          <img id = "upbutton" class="h1 w1 db center mt3" src="/img/uparrow.png" alt="uparrow">
          <img id = "downbutton" class="h1 w1 db center mt3 clip" src="/img/downarrow.png" alt="downarrow">
          </button>
        </div>
        <br>
        <textarea id = "about1" class="mt3 w-100 vh-5 ba b--black-30 br3 h4" type="text" name="likes" rows="8" cols="80" placeholder="Write here please" aria-label='please let us know your hobbies'>{{data.likes}}</textarea>
      </li>

      <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"><span class='li mr2 w2'>&rarr;</span> Tell us what you don't like!
        <div class="tc">
          <button id ="arrowbutton" class='bn secondary-background--solid h2 w2 white br3' type="button" name="arrowbutton" class="arrowbutton">
          <img id = "upbutton" class="h1 w1 db center mt3" src="/img/uparrow.png" alt="uparrow">
          <img id = "downbutton" class="h1 w1 db center mt3 clip" src="/img/downarrow.png" alt="downarrow">
          </button>
        </div>
        <br>
        <textarea id = "about1" class="mt3 w-100 mw7 vh-5 ba b--black-30 br3 h4" type="text" name="dislikes" rows="8" cols="80" placeholder="Write here please" aria-label='please let us know your dislikes'>{{data.dislikes}}</textarea>
      </li>

      <div class="ideasbutton">
        <button class='lightbulb  bn secondary-background--solid white f3 ma2 h-auto w5 br3 pa3 ' type="button" name="ideas" class="lightbulb">Click for ideas
        <img class="h2 w2 db center mt3" src="/img/lightbulb.png" alt="lightbulb">
        </button>
      </div>

      <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"><span class='li mr2 w2'>&rarr;</span> What are some of your strengths?
        <div class="tc">
          <button id ="arrowbutton" class='bn secondary-background--solid h2 w2 white br3' type="button" name="arrowbutton" class="arrowbutton">
          <img id = "upbutton" class="h1 w1 db center mt3" src="/img/uparrow.png" alt="uparrow">
          <img id = "downbutton" class="h1 w1 db center mt3 clip" src="/img/downarrow.png" alt="downarrow">
          </button>
        </div>
        <br>
        <textarea id="about3" class="mt3 w-100 mw7 vh-5 ba b--black-30 br3 h4" type="text" name="strengths" rows="8" cols="80" placeholder="Write here please" aria-label='please let us know your strengths'>{{data.strengths}}</textarea>
      </li>

      <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"><span class='li mr2 w2'>&rarr;</span> What would you like to be better at?
        <br>
        <div class="tc">
          <button id ="arrowbutton" class='bn secondary-background--solid h2 w2 white br3' type="button" name="arrowbutton" class="arrowbutton">
          <img id = "upbutton" class="h1 w1 db center mt3" src="/img/uparrow.png" alt="uparrow">
          <img id = "downbutton" class="h1 w1 db center mt3 clip" src="/img/downarrow.png" alt="downarrow">
          </button>
        </div>
        <textarea id = "about4" class="mt3 w-100 mw7 vh-5 ba b--black-30 br3 h4" type="text" name="weaknesses" rows="8" cols="80" placeholder="Write here please" aria-label='please let us know where you want to improve'>{{data.weaknesses}}</textarea>
      </li>

      <div class="ideasbutton">
        <button class='lightbulb  bn secondary-background--solid white f3 ma2 h-auto w5 br3 pa3 ' type="button" name="ideas" class="lightbulb">Click for ideas
        <img class="h2 w2 db center mt3" src="/img/lightbulb.png" alt="lightbulb">
        </button>
      </div>

      <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"><span class='li mr2 w2'>&rarr;</span> What makes you feel uncomfortable or anxious?
        <div class="tc">
          <button id ="arrowbutton" class='bn secondary-background--solid h2 w2 white br3' type="button" name="arrowbutton" class="arrowbutton">
          <img id = "upbutton" class="h1 w1 db center mt3" src="/img/uparrow.png" alt="uparrow">
          <img id = "downbutton" class="h1 w1 db center mt3 clip" src="/img/downarrow.png" alt="downarrow">
          </button>
        </div>
        <br>
        <textarea id = "about5" class="mt3 w-100 mw7 vh-5 ba b--black-30 br3 h4" type="text" name="uncomfortable" rows="8" cols="80" placeholder="Write here please" aria-label='please let us know what makes you uncomfortable'>{{data.uncomfortable}}</textarea>
      </li>

      <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"><span class='li mr2 w2'>&rarr;</span> What helps you feel safe and calm?
        <div class="tc">
          <button id ="arrowbutton" class='bn secondary-background--solid h2 w2 white br3' type="button" name="arrowbutton" class="arrowbutton">
          <img id = "upbutton" class="h1 w1 db center mt3" src="/img/uparrow.png" alt="uparrow">
          <img id = "downbutton" class="h1 w1 db center mt3 clip" src="/img/downarrow.png" alt="downarrow">
          </button>
        </div>
        <br>
        <textarea id = "about5" class="mt3 w-100 mw7 vh-5 ba b--black-30 br3 h4" type="text" name="safe" rows="8" cols="80" placeholder="Write here please" aria-label='please let us know what makes you feel safe'>{{data.safe}}</textarea>
      </li>
    </ol>
    {{>formnav}}
  </form>
</section>

{{>navbar}}
<script src='/modal.js'>
</script>
