{{> header }} {{> progress_bar }}


<section class="tc">

  <form class="dib tl mb5" action="/appointments" method="post">
    <ol class="">

      <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"> <span class='li mr2 w2'>&rarr;</span>What's your Email Address?
        <input class="input-reset ba b--black-20 pa2 mb2 db w-80 pa3 mt3 mw6 purple-font" value="{{data.email}}" type="text" name="email" placeholder="Your Email">
      </li>

      <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"> <span class='li mr2 w2'>&rarr;</span>What's your Mobile number?
        <input class="input-reset ba b--black-20 pa2 mb2 db w-80 pa3 mt3 mw6 purple-font" value="{{data.mobile}}" type="text" name="mobile" placeholder="Mobile number">
      </li>

      <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"> <span class='li mr2 w2'>&rarr;</span>What's your Home number?
        <input class="input-reset ba b--black-20 pa2 mb2 db w-80 pa3 mt3 mw6 purple-font" value="{{data.telephone}}" type="text" name="telephone" placeholder="Home number">
      </li>

      <li class="f5 black-60 tracked pt3 pb3 mr2"> <span class='li mr2'>&rarr;</span> How would you like us to contact you?
        <br>
        <div class="dib">
          <input id='sms' class="o-0 flex flex-auto-l" class="dib" type="checkbox" name="contact_preference" {{#if checked.contactBy.text}} checked {{/if}} aria-label="text" value='text'>
          <label class="checkbox-label dib margin-0-auto grey-background br3 w4 mt3 h4 ba b--black-30" for="sms">
          <img class="tc-ns w-50 h-50 margin-0-auto pb2 db mt3" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-smartphone-4.png&r=51&g=51&b=51" alt="sms">
              <div class="tc">Text</div>
          </label>
          </input>

          <input id='email' class="o-0" class="dib" type="checkbox" name="contact_preference" {{#if checked.contactBy.email}} checked {{/if}} aria-label="email" value='email'>
          <label class="checkbox-label dib margin-0-auto grey-background br3 w4 mt3 h4 ba b--black-30" for="email">
      <img class="tc-ns w-50 h-50 margin-0-auto pb2 db mt3" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-email-12.png&r=51&g=51&b=51" alt="email">
          <div class="tc">Email</div>
      </label>
          </input>

          <input id='call' class="o-0" class="dib" type="checkbox" name="contact_preference" {{#if checked.contactBy.call}} checked {{/if}} aria-label="call" value='call'>
          <label class="checkbox-label dib margin-0-auto grey-background br3 w4 mt3 h4 ba b--black-30" for="call">
        <img class="tc-ns w-50 h-50 margin-0-auto pb2 db mt3" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-phone-3.png&r=51&g=51&b=51" alt="call">
            <div class="tc">Call</div>
        </label>
          </input>

          <input id='Post' class="o-0" class="dib" type="checkbox" name="contact_preference" {{#if checked.contactBy.post}} checked {{/if}} aria-label="Post" value='Post'>
          <label class="checkbox-label dib margin-0-auto grey-background br3 w4 mt3 h4 ba b--black-30" for="Post">
        <img class="tc-ns w-50 h-50 margin-0-auto pb2 db mt3" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-email-2.png&r=51&g=51&b=51" alt="post">
            <div class="tc">Post</div>
        </label>
          </input>
        </div>
      </li>

      <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"> <span class='li mr2'>&rarr;</span> Do you have a preference on your new support worker?
        <br>
        <div class="dib">
          <input id='male' class="o-0 flex flex-auto-l" class="dib" type="radio" name="gender" {{#if checked.worker.male}} checked {{/if}} aria-label="Male worker" value='Male'>
          <label class="checkbox-label dib margin-0-auto grey-background br3 w4 mt3 h4 ba b--black-30" for="male">
          <img class="tc-ns w-50 h-50 margin-0-auto pb2 db mt3" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2016/png/iconmonstr-generation-11.png&r=51&g=51&b=51" alt="Male worker">
              <div class="tc">Male</div>
          </label>
          </input>

          <input id='female' class="o-0" class="dib" type="radio" name="gender" aria-label="female" value='Female' {{#if checked.worker.female}} checked {{/if}}>
          <label class="checkbox-label dib margin-0-auto grey-background br3 w4 mt3 h4 ba b--black-30" for="female">
      <img class="tc-ns w-50 h-50 margin-0-auto pb2 db mt3" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2016/png/iconmonstr-generation-8.png&r=51&g=51&b=51" alt="Female worker">
          <div class="tc">Female</div>
      </label>
          </input>
        </div>
      </li>


      <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"> <span class='li mr2'>&rarr;</span> Do you have a preferred appointment time?
        <br>
        <div class="dib">
          <input id='am' class="o-0 flex flex-auto-l" class="dib" type="radio" name="time" aria-label="am" value='am' {{#if checked.time.am}} checked {{/if}}>
          <label class="checkbox-label dib margin-0-auto grey-background br3 w4 mt3 h4 ba b--black-30" for="am">
          <img class="tc-ns w-50 h-50 margin-0-auto pb2 db mt3" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2016/png/iconmonstr-weather-1.png&r=51&g=51&b=51" alt="sun">
              <div class="tc">AM</div>
          </label>
          </input>

          <input id='pm' class="o-0" class="dib" type="radio" name="time" aria-label="email" value='pm' {{#if checked.time.pm}} checked {{/if}}>
          <label class="checkbox-label dib margin-0-auto grey-background br3 w4 mt3 h4 ba b--black-30" for="pm">
      <img class="tc-ns w-50 h-50 margin-0-auto pb2 db mt3" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2016/png/iconmonstr-weather-115.png&r=51&g=51&b=51" alt="moon">
          <div class="tc">PM</div>
      </label>
          </input>
        </div>
      </li>

      <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"> <span class='li mr2'>&rarr;</span> Would you like a parent/guardian at the appointments?
        <br>
        <div class="dib">
          <input id='Yes' class="o-0 flex flex-auto-l" class="dib" type="radio" name="parent" aria-label="Yes" value='Yes' {{#if checked.parent_involved.yes}} checked {{/if}}>
          <label class="checkbox-label dib margin-0-auto grey-background br3 w4 mt3 h4 ba b--black-30" for="Yes">
          <img class="tc-ns w-50 h-50 margin-0-auto pb2 db mt3" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2013/png/iconmonstr-checkbox-22.png&r=51&g=51&b=51" alt="Yes">
              <div class="tc">Yes</div>
          </label>
          </input>

          <input id='No' class="o-0" class="dib" type="radio" name="parent" aria-label="email" value='No' {{#if checked.parent_involved.no}} checked {{/if}}>
          <label class="checkbox-label dib margin-0-auto grey-background br3 w4 mt3 h4 ba b--black-30" for="No">
      <img class="tc-ns w-50 h-50 margin-0-auto pb2 db mt3" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2013/png/iconmonstr-checkbox-25.png&r=51&g=51&b=51" alt="No">
          <div class="tc">No</div>
      </label>
          </input>
        </div>
      </li>

      <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"> <span class='li mr2'>&rarr;</span> Do you have any concerns about moving to a different service and if so, what are they?
        <br>
        <textarea class="mt3 w-80 mw7 vh-5 ba b--black-30 br3 h4" type="text" name="concerns" rows="8" cols="80" placeholder="Write here please" aria-label='please let us know your concerns'>{{data.concerns}}</textarea>
      </li>

      <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"> <span class='li mr2'>&rarr;</span> I hope that when I leave I am...
        <br>
        <textarea class="mt3 w-80 mw7 vh-5 ba b--black-30 br3 h4" type="text" name="hope" rows="8" cols="80" placeholder="Write here please" aria-label='please let us know what you hope happens when you leave'>{{data.hope}}</textarea>
      </li>
    </ol>

    <a href='/symptoms'><button class=' f3 pl3 pr3 pt2 pb2 ml5 mb5 bn solid-purple-background white br3' type="submit">OK</button> </a><span class="black-60"> Press for next question </span>
  </form>
</section>
{{>navbar}}
