{{> header }}
{{> progress_bar }}

<section class="mb5 pl6">
{{> messages }}
  <form action="/symptoms" method="post">
  <ol>

    <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"><span class='li mr2 w2'>&rarr;</span>
      Do you have a mental health diagnosis and if so what is it?
      <div class='black-60 mb2'>
      <textarea class="mt3 w-80 mw7 vh-5 ba b--black-30 br3 h4" type="text" name="diagnosis_other" rows="8" cols="80" placeholder="Write here please" aria-label='do you suffer from any other disorder?'>{{data.diagnosis_other}}</textarea>
    </div>
    </li>

    <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"><span class='li mr2 w2'>&rarr;</span>
      Do you agree with your diagnosis?
      <br>
      <div class="dib">
           <input id='Yes_agree' class="o-0 flex flex-auto-l" class="dib" type="radio" name="diagnosis_agreement" aria-label="Yes" value='yes' {{#if checked.agreement.yes}}checked{{/if}}>
           <label class="checkbox-label dib margin-0-auto grey-background br3 w4 mt3 h4 ba b--black-30" for="Yes_agree">
           <img class="tc-ns w-50 h-50 margin-0-auto pb2 db mt3" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2013/png/iconmonstr-checkbox-22.png&r=51&g=51&b=51" alt="Yes">
               <div class="tc">Yes</div>
           </label>
           </input>

           <input id='No_disagree' class="o-0" class="dib" type="radio" name="diagnosis_agreement" aria-label="no" value='no' {{#if checked.agreement.no}}checked{{/if}}>
           <label class="checkbox-label dib margin-0-auto grey-background br3 w4 mt3 h4 ba b--black-30" for="No_disagree">
       <img class="tc-ns w-50 h-50 margin-0-auto pb2 db mt3" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2013/png/iconmonstr-checkbox-25.png&r=51&g=51&b=51" alt="No">
           <div class="tc">No</div>
       </label>
           </input>
         </div>
    </li>

    <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"><span class='li mr2 w2'>&rarr;</span>
      Current medication (if any)
      <br>
        <textarea class="mt3 w-80 mw7 vh-5 ba b--black-30 br3 h4" type="text" name="medication" rows="8" cols="80" placeholder="Write here please" aria-label='please let us know your current medication'>{{data.medication}}</textarea>
    </li>

    <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"><span class='li mr2 w2'>&rarr;</span>
      What therapies have you used?
      <br>
        <textarea class="mt3 w-80 mw7 vh-5 ba b--black-30 br3 h4" type="text" name="therapies_other" rows="8" cols="80" placeholder="e.g. talking therapies, cognitive behavioural therapy, pyschotherapy..." aria-label='therapies you have used'>{{data.therapies_other}}</textarea>
    </li>

    <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"><span class='li mr2 w2'>&rarr;</span>
      Did you find these therapies helpful? Why?
      <br>
      <textarea class="mt3 w-80 mw7 vh-5 ba b--black-30 br3 h4" type="text" name="therapies_helpful" rows="8" cols="80" placeholder="Write here please" aria-label='please let us know your therapy was helpful'>{{data.therapies_helpful}}</textarea>
    </li>

    <li class="f5 black-60 db mb2 tracked pt3 pb3 mr2"><span class='li mr2 w2'>&rarr;</span>
      What helps to keep you well? (e.g friends, support from family?)
      <br>
      <textarea class="mt3 w-80 mw7 vh-5 ba b--black-30 br3 h4" type="text" name="keep_well" rows="8" cols="80" placeholder="Write here please" aria-label='what helps keep you well'>{{data.keep_well}}</textarea>
    </li>
  </ol>

  <button class='f3 pl3 pr3 pt2 pb2 ml5 mb5 bn secondary-background--solid white br3' type="submit">OK</button><span class="black-60"> Press for next question </span>
  </form>
</section>

{{>navbar}}
